<div class="container-fluid" *ngIf="!isLoading">
  <app-page-title title="Meters"></app-page-title>

  <div class="row">
    <div class="col-12">
      <ul
        style="background-color: #fff"
        ngbNav
        #customNav="ngbNav"
        [activeId]="1"
        class="nav-tabs nav-tabs-custom nav-justified"
      >
        <li [ngbNavItem]="1">
          <a ngbNavLink>
            <span class="d-block d-sm-none"
              ><i class="fas fa-tachometer-alt"></i
            ></span>
            <span class="d-none d-sm-block">Meter</span>
          </a>
          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>
            <span class="d-block d-sm-none"
              ><i class="fas fa-list-ul"></i
            ></span>
            <span class="d-none d-sm-block">Meter List</span>
          </a>
          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="TabContent1"></ng-template>
          </ng-template>
        </li>
      </ul>
      <div class="card">
        <div class="card-body">
          <div [ngbNavOutlet]="customNav"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tab Content -->
  <ng-template #TabContent>
    <div class="row mb-2">
      <div class="col-sm-10" style="display: flex">
        <div class="mb-3" style="flex: 1; margin-left: 0.5rem">
          <label for="formrow-inputState">Day</label>
          <select
            id="formrow-inputState"
            class="form-select"
            [(ngModel)]="stardDayIn"
          >
            <option [value]="item.id" *ngFor="let item of daysList">
              {{ item.date }}
            </option>
          </select>
        </div>
        <div class="mb-3 header-switch">
          <span> Detailed View </span>
          <ui-switch
          [(ngModel)]="isDetailed"
            defaultBoColor="#dfdfdf"
            size="small"
            color="#34c38f"
            checked
          ></ui-switch>
        </div>

        <div class="mb-3 header-switch">
          <span> Money </span>
          <ui-switch
          [(ngModel)]="isMoney"
            defaultBoColor="#dfdfdf"
            size="small"
            color="#34c38f"
            checked
          ></ui-switch>
        </div>
      </div>
      <div class="col-sm-2" style="align-self: center">
        <div class="text-sm-end">
          <button
            style="width: 100%"
            type="button"
            class="btn btn-success mt-2 mr-2"
            (click)="fetchData2()"
          >
            <i class="mdi mdi-search-web me-1"></i> Search
          </button>
        </div>
      </div>
      <!-- end col-->
    </div>
    <div class="table-responsive">
      <table class="table table-nowrap">
        <thead>
          <tr>
            <th>Machine</th>
            <th *ngIf="isDetailed">Start In</th>
            <th *ngIf="isDetailed">Start Out</th>
            <th *ngIf="isDetailed">Start JackPot</th>
            <th *ngIf="isDetailed">End In</th>
            <th *ngIf="isDetailed">End Out</th>
            <th *ngIf="isDetailed">End JackPot</th>
            <th>Balance In</th>
            <th>Balance Out</th>
            <th>Balance JackPot</th>
            <th>Slip In</th>
            <th>Slip Out</th>
            <th>Slip JackPot</th>
            <th>Diff In</th>
            <th>Diff Out</th>
            <th>Diff JackPot</th>
            <th>Diff Credit</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let customers of tableData2
                | slice
                  : (currentpage - 1) * pageSize
                  : (currentpage - 1) * pageSize + pageSize;
              let i = index
            "
          >
            <td>
              {{ customers.machineName }}
            </td>

            <td *ngIf="isDetailed">
              {{ customers.startIn }}
            </td>

            <td *ngIf="isDetailed">
              {{ customers.startOut }}
            </td>

            <td *ngIf="isDetailed">
              {{ customers.startJackPot }}
            </td>

            <td *ngIf="isDetailed">
              {{ customers.endIn }}
            </td>

            <td *ngIf="isDetailed">
              {{ customers.endOut }}
            </td>
            <td *ngIf="isDetailed">
              {{ customers.endJackPot }}
            </td>

            <td *ngIf="!isMoney">
              {{ customers.balanceInCredit }}
            </td>
            <td *ngIf="isMoney">
              {{ customers.balanceInMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ customers.balanceOutCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ customers.balanceOutMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ customers.balanceJackPotCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ customers.balanceJackPotMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ customers.slipInCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ customers.slipInMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ customers.slipOutCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ customers.slipOutMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ customers.slipJackPotCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ customers.slipJackPotMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ customers.diffInCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ customers.diffInMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ customers.diffOutCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ customers.diffOutMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ customers.diffJackPotCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ customers.diffJackPotMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ customers.diffCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ customers.diffMoney }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>
              {{ footerData.machineName }}
            </td>

            <td *ngIf="isDetailed">
              {{ footerData.startIn }}
            </td>

            <td *ngIf="isDetailed">
              {{ footerData.startOut }}
            </td>

            <td *ngIf="isDetailed">
              {{ footerData.startJackPot }}
            </td>

            <td *ngIf="isDetailed">
              {{ footerData.endIn }}
            </td>

            <td *ngIf="isDetailed">
              {{ footerData.endOut }}
            </td>
            <td *ngIf="isDetailed">
              {{ footerData.endJackPot }}
            </td>

            <td *ngIf="!isMoney">
              {{ footerData.balanceInCredit }}
            </td>
            <td *ngIf="isMoney">
              {{ footerData.balanceInMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ footerData.balanceOutCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ footerData.balanceOutMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ footerData.balanceJackPotCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ footerData.balanceJackPotMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ footerData.slipInCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ footerData.slipInMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ footerData.slipOutCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ footerData.slipOutMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ footerData.slipJackPotCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ footerData.slipJackPotMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ footerData.diffInCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ footerData.diffInMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ footerData.diffOutCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ footerData.diffOutMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ footerData.diffJackPotCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ footerData.diffJackPotMoney }}
            </td>

            <td *ngIf="!isMoney">
              {{ footerData.diffCredit }}
            </td>

            <td *ngIf="isMoney">
              {{ footerData.diffMoney }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- pagination -->
    <ngb-pagination
      [collectionSize]="tableData.length"
      [(page)]="currentpage"
      [pageSize]="pageSize"
      class="pagination pagination-rounded justify-content-end mb-2"
      aria-label="Default pagination"
    >
    </ngb-pagination>
  </ng-template>

  <!-- Tab Content -->
  <ng-template #TabContent1>
    <div class="row mb-2">
      <div class="col-sm-4">
        <!-- <div class="search-box me-2 mb-2 d-inline-block">
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              [(ngModel)]="searchQuery"
              (keyup)="debounceSubject.next($event)"
            />
            <i class="bx bx-search-alt search-icon"></i>
          </div>
        </div> -->
      </div>
      <div class="col-sm-8">
        <div class="text-sm-end">
          <button
            type="button"
            class="btn btn-success btn-rounded mb-2 mr-2"
            (click)="openModal(add)"
          >
            <i class="mdi mdi-plus me-1"></i> New Item
          </button>
        </div>
      </div>
      <!-- end col-->
    </div>
    <div class="table-responsive">
      <table class="table table-nowrap" style="margin-bottom: 90px">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Grade</th>
            <th>Daily Play</th>
            <th>Monthly Play</th>
            <th>Yearly Play</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let customers of tableData
                | slice
                  : (currentpage - 1) * pageSize
                  : (currentpage - 1) * pageSize + pageSize;
              let i = index
            "
          >
            <td>
              {{ customers.id }}
            </td>

            <td>
              {{ customers.name }}
            </td>

            <td>
              {{ customers.customerGrade }}
            </td>

            <td>
              {{ customers.dailyPlay }}
            </td>

            <td>
              {{ customers.monthlyPlay }}
            </td>

            <td>
              {{ customers.yearlyPlay }}
            </td>
            <!--
            <td>
              <span
                *ngIf="customers.isActive"
                class="badge bg-success font-size-12"
              >
                <i class="mdi mdi-check me-1"></i>
                {{ customers.isActive }}
              </span>

              <span
                *ngIf="!customers.isActive"
                class="badge bg-danger font-size-12"
              >
                <i class="mdi mdi-close me-1"></i>
                {{ customers.isActive }}
              </span>
            </td> -->

            <td>
              <div class="dropdown" ngbDropdown>
                <a
                  class="dropdown-toggle card-drop"
                  data-toggle="dropdown"
                  ngbDropdownToggle
                  aria-expanded="false"
                  style="cursor: pointer"
                >
                  <i class="mdi mdi-dots-horizontal font-size-20"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <li (click)="openModal(edit, customers)">
                    <a href="javascript: void(0);" class="dropdown-item"
                      ><i class="fas fa-pencil-alt text-success me-1"></i>
                      Edit</a
                    >
                  </li>

                  <li (click)="confirmDelete(customers)">
                    <a href="javascript: void(0);" class="dropdown-item"
                      ><i class="fas fa-trash text-danger me-1"></i> Delete</a
                    >
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- pagination -->
    <ngb-pagination
      [collectionSize]="tableData.length"
      [(page)]="currentpage"
      [pageSize]="pageSize"
      class="pagination pagination-rounded justify-content-end mb-2"
      aria-label="Default pagination"
    >
    </ngb-pagination>
  </ng-template>
</div>

<app-loader *ngIf="isLoading"></app-loader>

<!-- Standard Modal -->
<ng-template #add role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add Item</h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveCustomer()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Name</label>
            <input
              class="form-control"
              placeholder="Enter Name"
              type="text"
              name="title"
              formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
            />
            <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
              <span *ngIf="form.name.errors.required"
                >Game Name is required.</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label for="formrow-inputState">Grade</label>
            <select
              id="formrow-inputState"
              formControlName="customerGrade"
              class="form-select"
            >
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="control-label">Daily Play</label>
            <input
              class="form-control"
              placeholder="Enter Daily Play"
              type="number"
              name="title"
              formControlName="dailyPlay"
              [ngClass]="{ 'is-invalid': submitted && form.dailyPlay.errors }"
            />
            <div
              *ngIf="submitted && form.dailyPlay.errors"
              class="invalid-feedback"
            >
              <span *ngIf="form.dailyPlay.errors"
                >Number should be greater than 0.</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="control-label">Monthly Play</label>
            <input
              class="form-control"
              placeholder="Enter Monthly Play"
              type="number"
              name="title"
              formControlName="monthlyPlay"
              [ngClass]="{ 'is-invalid': submitted && form.monthlyPlay.errors }"
            />
            <div
              *ngIf="submitted && form.monthlyPlay.errors"
              class="invalid-feedback"
            >
              <span *ngIf="form.monthlyPlay.errors"
                >Number should be greater than 0.</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="control-label">Yearly Play</label>
            <input
              class="form-control"
              placeholder="Enter Yearly Play"
              type="number"
              name="title"
              formControlName="yearlyPlay"
              [ngClass]="{ 'is-invalid': submitted && form.yearlyPlay.errors }"
            />
            <div
              *ngIf="submitted && form.yearlyPlay.errors"
              class="invalid-feedback"
            >
              <span *ngIf="form.yearlyPlay.errors"
                >Number should be greater than 0.</span
              >
            </div>
          </div>

          <div class="mb-3" style="display: flex; align-items: center">
            <label for="formrow-inputState">Active</label>
            <ui-switch
              style="margin-bottom: 0.5rem; margin-left: 0.5rem"
              [formControl]="form['isActive']"
              defaultBoColor="#dfdfdf"
              size="small"
              color="#34c38f"
            ></ui-switch>
          </div>
        </div>
      </div>
      <div style="display: flex">
        <button
          type="button"
          class="btn btn-secondary"
          id="btn-save-event"
          (click)="initializeAddForm()"
        >
          Reset
        </button>
        <button
          style="margin-left: auto"
          type="submit"
          class="btn btn-success"
          id="btn-save-event"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Edit Modal -->
<ng-template #edit role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Edit Machine</h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="editCustomer()" [formGroup]="editForm">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Name</label>
            <input
              class="form-control"
              placeholder="Enter Name"
              type="text"
              name="title"
              formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && editF.name.errors }"
            />
            <div
              *ngIf="submitted && editF.name.errors"
              class="invalid-feedback"
            >
              <span *ngIf="editF.name.errors.required"
                >Game Name is required.</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label for="formrow-inputState">Grade</label>
            <select
              id="formrow-inputState"
              formControlName="customerGrade"
              class="form-select"
            >
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="control-label">Daily Play</label>
            <input
              class="form-control"
              placeholder="Enter Daily Play"
              type="number"
              name="title"
              formControlName="dailyPlay"
              [ngClass]="{ 'is-invalid': submitted && editF.dailyPlay.errors }"
            />
            <div
              *ngIf="submitted && editF.dailyPlay.errors"
              class="invalid-feedback"
            >
              <span *ngIf="editF.dailyPlay.errors"
                >Number should be greater than 0.</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="control-label">Monthly Play</label>
            <input
              class="form-control"
              placeholder="Enter Monthly Play"
              type="number"
              name="title"
              formControlName="monthlyPlay"
              [ngClass]="{
                'is-invalid': submitted && editF.monthlyPlay.errors
              }"
            />
            <div
              *ngIf="submitted && editF.monthlyPlay.errors"
              class="invalid-feedback"
            >
              <span *ngIf="editF.monthlyPlay.errors"
                >Number should be greater than 0.</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="control-label">Yearly Play</label>
            <input
              class="form-control"
              placeholder="Enter Yearly Play"
              type="number"
              name="title"
              formControlName="yearlyPlay"
              [ngClass]="{ 'is-invalid': submitted && editF.yearlyPlay.errors }"
            />
            <div
              *ngIf="submitted && editF.yearlyPlay.errors"
              class="invalid-feedback"
            >
              <span *ngIf="editF.yearlyPlay.errors"
                >Number should be greater than 0.</span
              >
            </div>
          </div>

          <div class="mb-3" style="display: flex; align-items: center">
            <label for="formrow-inputState">Active</label>
            <ui-switch
              style="margin-bottom: 0.5rem; margin-left: 0.5rem"
              [formControl]="form['isActive']"
              defaultBoColor="#dfdfdf"
              size="small"
              color="#34c38f"
            ></ui-switch>
          </div>
        </div>
      </div>
      <div style="display: flex">
        <button
          style="margin-left: auto"
          type="submit"
          class="btn btn-success"
          id="btn-save-event"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>
