<div class="container-fluid" *ngIf="!isLoading">
  <app-page-title title="Logs"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-8" style="display: flex">
              <div class="mb-3" style="flex: 1; margin-left: 0.5rem">
                <label for="formrow-inputState">Start Day</label>
                <select
                  id="formrow-inputState"
                  class="form-select"
                  [(ngModel)]="stardDayIn"
                >
                  <option [value]="0">Today</option>
                  <option [value]="item.id" *ngFor="let item of daysList">
                    {{ item.date }}
                  </option>
                </select>
              </div>

              <div class="mb-3" style="flex: 1; margin-left: 0.5rem">
                <label for="formrow-inputState">End Day</label>
                <select
                  id="formrow-inputState"
                  class="form-select"
                  [(ngModel)]="endDayIn"
                >
                  <option [value]="0">Today</option>
                  <option [value]="item.id" *ngFor="let item of daysList">
                    {{ item.date }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-4" style="align-self: center">
              <div class="text-sm-end" style="display: flex">
                <button
                  style="width: 100%; margin-right: 0.5rem"
                  type="button"
                  class="btn btn-success mt-2 mr-2"
                  (click)="fetchData()"
                >
                  <i class="mdi mdi-search-web me-1"></i> Search
                </button>

                <button
                  style="width: 100%"
                  type="button"
                  class="btn btn-primary mt-2 mr-2"

                >
                  <i class="mdi mdi-file-document me-1"></i> Report
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table table-bordered dt-responsive nowrap">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Title</th>
                  <th>Staff</th>
                </tr>
              </thead>
              <tbody
                *ngFor="
                  let customers of tableData
                    | slice
                      : (currentpage - 1) * pageSize
                      : (currentpage - 1) * pageSize + pageSize;
                  let i = index
                "
              >
                <tr (click)="changeValue(i)" class="expandable-row">
                  <td>
                    {{ customers.date | date: "medium" }}
                  </td>
                  <td>
                    {{ customers.title }}
                  </td>
                  <td>
                    {{ customers.staff }}
                  </td>
                </tr>

                <tr *ngIf="hideme[i]" class="sub-table no-bg">
                  <td colspan="15" class="p-2 expanded-space" >{{ customers.message }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <ngb-pagination
            [collectionSize]="tableData.length"
            [(page)]="currentpage"
            [pageSize]="pageSize"
            class="pagination pagination-rounded justify-content-end mb-2"
            aria-label="Default pagination"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<app-loader *ngIf="isLoading"></app-loader>
