<div class="container-fluid" *ngIf="!isLoading">
  <app-page-title
    title="Money Exchange"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-7" style="display: flex">
              <div class="mb-3" style="flex: 1; margin-left: 0.5rem">
                <label for="formrow-inputState">Day</label>
                <select
                  id="formrow-inputState"
                  class="form-select"
                  [(ngModel)]="stardDayIn"
                >
                  <option [value]="0">Today</option>
                  <option [value]="item.id" *ngFor="let item of daysList">
                    {{ item.date }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-5" style="align-self: center">
              <div class="text-sm-end" style="display: flex">
                <button
                  style="width: 100%; margin-right: 0.5rem"
                  type="button"
                  class="btn btn-success mt-2 mr-2"
                  (click)="fetchData()"
                >
                  <i class="mdi mdi-search-web me-1"></i> Search
                </button>

                <button
                  style="width: 100%"
                  type="button"
                  class="btn btn-primary mt-2 mr-2"
                  (click)="openModal(add)"
                >
                  <i class="mdi mdi-plus me-1"></i> New Exchange
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap" style="margin-bottom: 60px">
              <thead>
                <tr>
                  <th>Amount</th>
                  <th>Converted</th>
                  <th>Customer</th>
                  <th>Staff</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let customers of tableData
                      | slice
                        : (currentpage - 1) * pageSize
                        : (currentpage - 1) * pageSize + pageSize;
                    let i = index
                  "
                >
                  <td>
                    {{ customers.fromAmount + " " + customers.fromCurrency }}
                  </td>

                  <td>
                    {{ customers.toAmount + " " + customers.toCurrency }}
                  </td>

                  <td>
                    {{ customers.customer }}
                  </td>

                  <td>
                    {{ customers.staff }}
                  </td>

                  <td>
                    {{ customers.date | date: "short" }}
                  </td>

                  <td>
                    <div class="dropdown" ngbDropdown>
                      <a
                        class="dropdown-toggle card-drop"
                        data-toggle="dropdown"
                        ngbDropdownToggle
                        aria-expanded="false"
                        style="cursor: pointer"
                      >
                        <i class="mdi mdi-dots-horizontal font-size-20"></i>
                      </a>
                      <ul
                        class="dropdown-menu dropdown-menu-end"
                        ngbDropdownMenu
                      >
                        <li (click)="confirmDelete(customers)">
                          <a href="javascript: void(0);" class="dropdown-item"
                            ><i class="fas fa-trash text-danger me-1"></i>
                            Delete</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <ngb-pagination
            [collectionSize]="tableData.length"
            [(page)]="currentpage"
            [pageSize]="pageSize"
            class="pagination pagination-rounded justify-content-end mb-2"
            aria-label="Default pagination"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<app-loader *ngIf="isLoading"></app-loader>

<!-- Standard Modal -->
<ng-template #add role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">New Exchange</h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveCustomer()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div
            class="mb-3"
            style="position: relative; display: flex; flex-direction: column"
          >
            <label class="control-label">Customer</label>

            <p-autoComplete
              formControlName="customerId"
              [suggestions]="customerOptions"
              (completeMethod)="filterMethod($event)"
              field="name"
              [delay]="500"
              placeholder="Search For Customer"
              [minLength]="2"
            >
              <ng-template let-customer pTemplate="item">
                <div>{{ customer.name }}</div>
              </ng-template>
            </p-autoComplete>

            <div
              style="display: block"
              *ngIf="submitted && form.customerId.errors"
              class="invalid-feedback"
            >
              <span>Customer is required.</span>
            </div>

            <div
              style="display: block"
              *ngIf="submitted"
              class="invalid-feedback"
            >
              <span *ngIf="selectFromList">Select customer from the list.</span>
            </div>
          </div>

          <div class="mb-3">
            <label for="formrow-inputState">From Currency</label>
            <select
              id="formrow-inputState"
              formControlName="fromCurrencyId"
              class="form-select"
              (change)="patchRate($event, false)"
            >
              <option [value]="item.id" *ngFor="let item of currencyList">
                {{ item.code }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="formrow-inputState">To Currency</label>
            <select
              id="formrow-inputState"
              formControlName="toCurrencyId"
              class="form-select"
              (change)="patchRate($event, true)"
            >
              <option [value]="item.id" *ngFor="let item of currencyList">
                {{ item.code }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="control-label">From Amount</label>
            <input
              class="form-control"
              placeholder="Enter Amount"
              type="number"
              name="title"
              autocomplete="off"
              formControlName="fromAmount"
              [ngClass]="{ 'is-invalid': submitted && form.fromAmount.errors }"
            />
            <div
              *ngIf="submitted && form.fromAmount.errors"
              class="invalid-feedback"
            >
              <span *ngIf="form.fromAmount.errors"
                >Amount should be greater than 0.</span
              >
            </div>
          </div>

          <label class="control-label" style="font-size: 16px"
            >Result:&nbsp;
            {{
              form.fromAmount.value * (form.fromRate.value / form.toRate.value)
                | number: "1.2-2"
            }}
            {{ " " + returnToCurrency(form.toCurrencyId.value) }}</label
          >
        </div>
      </div>
      <div style="display: flex">
        <!-- <button
          type="button"
          class="btn btn-secondary"
          id="btn-save-event"
          (click)="initializeAddForm()"
        >
          Reset
        </button> -->
        <button
          style="margin-left: auto"
          type="submit"
          class="btn btn-success"
          id="btn-save-event"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>
