<div class="container-fluid" *ngIf="!isLoading">
  <app-page-title title="Machine"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <!-- <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search..."
                    [(ngModel)]="searchQuery"
                    (keyup)="debounceSubject.next($event)"
                  />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div> -->
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button
                  type="button"
                  class="btn btn-success btn-rounded mb-2 mr-2"
                  (click)="openModal(add)"
                >
                  <i class="mdi mdi-plus me-1"></i> New Machine
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap" style="margin-bottom: 90px">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Name</th>
                  <th>Credit</th>
                  <th>JackPot</th>
                  <th>VIP</th>
                  <th>Active</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let customers of tableData
                      | slice
                        : (currentpage - 1) * pageSize
                        : (currentpage - 1) * pageSize + pageSize;
                    let i = index
                  "
                >
                  <td>
                    {{ customers.number }}
                  </td>

                  <td>
                    {{ customers.name }}
                  </td>

                  <td>
                    {{ customers.credit }}
                  </td>

                  <td>
                    <span
                      *ngIf="customers.isJackPot"
                      class="badge bg-success font-size-12"
                    >
                      <i class="mdi mdi-check me-1"></i>
                      {{ customers.isJackPot }}
                    </span>

                    <span
                      *ngIf="!customers.isJackPot"
                      class="badge bg-danger font-size-12"
                    >
                      <i class="mdi mdi-close me-1"></i>
                      {{ customers.isJackPot }}
                    </span>
                  </td>

                  <td>
                    <span
                      *ngIf="customers.isVIP"
                      class="badge bg-success font-size-12"
                    >
                      <i class="mdi mdi-check me-1"></i>
                      {{ customers.isVIP }}
                    </span>

                    <span
                      *ngIf="!customers.isVIP"
                      class="badge bg-danger font-size-12"
                    >
                      <i class="mdi mdi-close me-1"></i>
                      {{ customers.isVIP }}
                    </span>
                  </td>

                  <td>
                    <span
                      *ngIf="customers.isActive"
                      class="badge bg-success font-size-12"
                    >
                      <i class="mdi mdi-check me-1"></i>
                      {{ customers.isActive }}
                    </span>

                    <span
                      *ngIf="!customers.isActive"
                      class="badge bg-danger font-size-12"
                    >
                      <i class="mdi mdi-close me-1"></i>
                      {{ customers.isActive }}
                    </span>
                  </td>

                  <td>
                    <div class="dropdown" ngbDropdown>
                      <a
                        class="dropdown-toggle card-drop"
                        data-toggle="dropdown"
                        ngbDropdownToggle
                        aria-expanded="false"
                        style="cursor: pointer"
                      >
                        <i class="mdi mdi-dots-horizontal font-size-20"></i>
                      </a>
                      <ul
                        class="dropdown-menu dropdown-menu-end"
                        ngbDropdownMenu
                      >
                        <li (click)="openModal(edit, customers)">
                          <a href="javascript: void(0);" class="dropdown-item"
                            ><i class="fas fa-pencil-alt text-success me-1"></i>
                            Edit</a
                          >
                        </li>

                        <li (click)="confirmDelete(customers)">
                          <a href="javascript: void(0);" class="dropdown-item"
                            ><i class="fas fa-trash text-danger me-1"></i>
                            Delete</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <ngb-pagination
            [collectionSize]="tableData.length"
            [(page)]="currentpage"
            [pageSize]="pageSize"
            class="pagination pagination-rounded justify-content-end mb-2"
            aria-label="Default pagination"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<app-loader *ngIf="isLoading"></app-loader>

<!-- Standard Modal -->
<ng-template #add role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add Machine</h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveCustomer()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Game Name</label>
            <input
              class="form-control"
              placeholder="Enter Game Name"
              type="text"
              name="title"
              formControlName="gameName"
              [ngClass]="{ 'is-invalid': submitted && form.gameName.errors }"
            />
            <div
              *ngIf="submitted && form.gameName.errors"
              class="invalid-feedback"
            >
              <span *ngIf="form.gameName.errors.required"
                >Game Name is required.</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="control-label">Number</label>
            <input
              class="form-control"
              placeholder="Enter Number"
              type="number"
              name="title"
              formControlName="number"
              [ngClass]="{ 'is-invalid': submitted && form.number.errors }"
            />
            <div
              *ngIf="submitted && form.number.errors"
              class="invalid-feedback"
            >
              <span *ngIf="form.number.errors"
                >Number should be greater than 0.</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="control-label">Credit</label>
            <input
              class="form-control"
              placeholder="Enter Credit"
              type="number"
              name="title"
              formControlName="credit"
              [ngClass]="{ 'is-invalid': submitted && form.credit.errors }"
            />
            <div
              *ngIf="submitted && form.credit.errors"
              class="invalid-feedback"
            >
              <span *ngIf="form.credit.errors"
                >Credit should be greater than 0.</span
              >
            </div>
          </div>

          <div class="mb-3" style="display: flex; align-items: center">
            <label for="formrow-inputState" style="width: 85px">JackPot</label>
            <ui-switch
              style="margin-bottom: 0.5rem; margin-left: 0.5rem"
              formControlName="isJackPot"
              defaultBoColor="#dfdfdf"
              size="small"
              color="#34c38f"
            ></ui-switch>
          </div>

          <div class="mb-3" style="display: flex; align-items: center">
            <label for="formrow-inputState" style="width: 85px">VIP</label>
            <ui-switch
              style="margin-bottom: 0.5rem; margin-left: 0.5rem"
              formControlName="isVIP"
              defaultBoColor="#dfdfdf"
              size="small"
              color="#34c38f"
            ></ui-switch>
          </div>

          <div class="mb-3" style="display: flex; align-items: center">
            <label for="formrow-inputState" style="width: 85px"
              >Money Meter</label
            >
            <ui-switch
              style="margin-bottom: 0.5rem; margin-left: 0.5rem"
              formControlName="isMoneyMeter"
              defaultBoColor="#dfdfdf"
              size="small"
              color="#34c38f"
            ></ui-switch>
          </div>

          <div class="mb-3" style="display: flex; align-items: center">
            <label for="formrow-inputState" style="width: 85px">Active</label>
            <ui-switch
              style="margin-bottom: 0.5rem; margin-left: 0.5rem"
              formControlName="isActive"
              defaultBoColor="#dfdfdf"
              size="small"
              color="#34c38f"
            ></ui-switch>
          </div>
        </div>
      </div>
      <div style="display: flex">
        <button
          type="button"
          class="btn btn-secondary"
          id="btn-save-event"
          (click)="initializeAddForm()"
        >
          Reset
        </button>
        <button
          style="margin-left: auto"
          type="submit"
          class="btn btn-success"
          id="btn-save-event"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Edit Modal -->
<ng-template #edit role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Edit Machine</h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="editCustomer()" [formGroup]="editForm">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Game Name</label>
            <input
              class="form-control"
              placeholder="Enter Game Name"
              type="text"
              name="title"
              formControlName="gameName"
              [ngClass]="{ 'is-invalid': submitted && editF.gameName.errors }"
            />
            <div
              *ngIf="submitted && editF.gameName.errors"
              class="invalid-feedback"
            >
              <span *ngIf="editF.gameName.errors.required"
                >Game Name is required.</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="control-label">Number</label>
            <input
              class="form-control"
              placeholder="Enter Number"
              type="number"
              name="title"
              formControlName="number"
              [ngClass]="{ 'is-invalid': submitted && editF.number.errors }"
            />
            <div
              *ngIf="submitted && editF.number.errors"
              class="invalid-feedback"
            >
              <span *ngIf="editF.number.errors"
                >Number should be greater than 0.</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="control-label">Credit</label>
            <input
              class="form-control"
              placeholder="Enter Credit"
              type="number"
              name="title"
              formControlName="credit"
              [ngClass]="{ 'is-invalid': submitted && editF.credit.errors }"
            />
            <div
              *ngIf="submitted && editF.credit.errors"
              class="invalid-feedback"
            >
              <span *ngIf="editF.credit.errors"
                >Credit should be greater than 0.</span
              >
            </div>
          </div>

          <div class="mb-3" style="display: flex; align-items: center">
            <label for="formrow-inputState" style="width: 85px">JackPot</label>
            <ui-switch
              style="margin-bottom: 0.5rem; margin-left: 0.5rem"
              formControlName="isJackPot"
              defaultBoColor="#dfdfdf"
              size="small"
              color="#34c38f"
            ></ui-switch>
          </div>

          <div class="mb-3" style="display: flex; align-items: center">
            <label for="formrow-inputState" style="width: 85px">VIP</label>
            <ui-switch
              style="margin-bottom: 0.5rem; margin-left: 0.5rem"
              formControlName="isVIP"
              defaultBoColor="#dfdfdf"
              size="small"
              color="#34c38f"
            ></ui-switch>
          </div>

          <div class="mb-3" style="display: flex; align-items: center">
            <label for="formrow-inputState" style="width: 85px"
              >Money Meter</label
            >
            <ui-switch
              style="margin-bottom: 0.5rem; margin-left: 0.5rem"
              formControlName="isMoneyMeter"
              defaultBoColor="#dfdfdf"
              size="small"
              color="#34c38f"
            ></ui-switch>
          </div>

          <div class="mb-3" style="display: flex; align-items: center">
            <label for="formrow-inputState" style="width: 85px">Active</label>
            <ui-switch
              style="margin-bottom: 0.5rem; margin-left: 0.5rem"
              formControlName="isActive"
              defaultBoColor="#dfdfdf"
              size="small"
              color="#34c38f"
            ></ui-switch>
          </div>
        </div>
      </div>
      <div style="display: flex">
        <button
          style="margin-left: auto"
          type="submit"
          class="btn btn-success"
          id="btn-save-event"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>
