<div class="container-fluid" *ngIf="!isLoading">
  <app-page-title title="Chip Transfer"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4" style="display: flex">
              <div class="mb-3" style="flex: 1; margin-left: 0.5rem">
                <label for="formrow-inputState">Day</label>
                <select
                  id="formrow-inputState"
                  class="form-select"
                  [(ngModel)]="stardDayIn"
                >
                  <option [value]="0">Today</option>
                  <option [value]="item.id" *ngFor="let item of daysList">
                    {{ item.date }}
                  </option>
                </select>
              </div>


            </div>
            <div class="col-sm-8" style="align-self: center">
              <div class="text-sm-end" style="display: flex">
                <button
                  style="width: 100%; margin-right: 0.5rem"
                  type="button"
                  class="btn btn-success mt-2 mr-2"
                  (click)="fetchData()"
                >
                  <i class="mdi mdi-search-web me-1"></i> Search
                </button>

                <button
                  style="width: 100%; margin-right: 0.5rem"
                  type="button"
                  class="btn btn-primary mt-2 mr-2"
                  (click)="openModal(add)"
                >
                  <i class="mdi mdi-plus me-1"></i> Add Transfer
                </button>

                <button
                  style="width: 100%; margin-right: 0.5rem"
                  type="button"
                  class="btn btn-secondary mt-2 mr-2"
                >
                  <i class="mdi mdi-file-document me-1"></i> Total Report
                </button>

                <button
                  style="width: 100%; margin-right: 0.5rem"
                  type="button"
                  class="btn btn-secondary mt-2 mr-2"
                >
                  <i class="mdi mdi-file-document-multiple me-1"></i> Table
                  Report
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap">
              <thead>
                <tr>
                  <th>Table</th>
                  <th>Status</th>
                  <th>Value</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Staff</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let customers of tableData
                      | slice
                        : (currentpage - 1) * pageSize
                        : (currentpage - 1) * pageSize + pageSize;
                    let i = index
                  "
                >
                  <td>
                    {{ customers.table }}
                  </td>

                  <td>
                    <span *ngIf="customers.isIn"> Credit </span>

                    <span *ngIf="!customers.isIn"> Fill </span>
                  </td>

                  <td>
                    {{ customers.valueString }}
                  </td>
                  <td>
                    {{ customers.quantity }}
                  </td>

                  <td>{{ customers.total }}</td>

                  <td>
                    {{ customers.staff }}
                  </td>

                  <td>
                    {{ customers.date | date: "short" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <ngb-pagination
            [collectionSize]="tableData.length"
            [(page)]="currentpage"
            [pageSize]="pageSize"
            class="pagination pagination-rounded justify-content-end mb-2"
            aria-label="Default pagination"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<app-loader *ngIf="isLoading"></app-loader>

<!-- Standard Modal -->
<ng-template #add role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add Transfer</h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body" *ngIf="chips.length > 1">
    <form (ngSubmit)="addTransfer()">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="formrow-inputState">Game</label>
            <select
              id="formrow-inputState"
              [(ngModel)]="selectedMachine"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="getChips($event)"
              class="form-select"
            >
              <option
                [value]="item.id"
                *ngFor="let item of machineList"
              >
                {{ item.name }}
              </option>
            </select>
          </div>

          <div class="mb3">
            <label for="formrow-inputState">Transfer Type</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="formRadios"
                id="formRadios1"
                [checked]="transferType === false"
                (change)="transferType = false"
              />
              <label class="form-check-label" for="formRadios1"> Fill </label>
            </div>
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="radio"
                name="formRadios"
                id="formRadios2"
                [checked]="transferType === true"
                (change)="transferType = true"
              />
              <label class="form-check-label" for="formRadios2"> Credit </label>
            </div>
          </div>

          <div class="table-responsive pb-3" [formGroup]="formData">
            <table class="table mb-0" formArrayName="chips">
              <thead class="table-light">
                <tr>
                  <th>Quantity</th>
                  <th>Chip</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let chipForm of chips.controls; let i = index">
                  <td [formGroup]="chipForm" style="width: 250px">
                    <input
                    style="width: 80%"
                      class="form-control"
                      placeholder="Enter Quantity"
                      type="number"
                      name="title"
                      autocomplete="off"
                      formControlName="quantity"
                      [ngClass]="{
                        'is-invalid':
                          submitted && chipForm.controls.quantity.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && chipForm.controls.quantity.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="chipForm.controls.quantity.errors"
                        >Quantity should be greater than 0.</span
                      >
                    </div>
                  </td>
                  <td style="vertical-align: middle">{{ chipList[i].name }}</td>
                  <td style="vertical-align: middle">
                    {{
                      chipForm.controls.quantity.value * chipList[i].value
                        | number: "1.2-2"
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div style="display: flex">
        <button
          type="button"
          class="btn btn-secondary"
          id="btn-save-event"
          (click)="resetAddForm()"
        >
          Reset
        </button>
        <button
          style="margin-left: auto"
          type="submit"
          class="btn btn-success"
          id="btn-save-event"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>
