.table-footer {
  padding-top: 1rem;
}

.profit-and-report {
  display: flex;
  .data {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    font-size: 14px;
  }
  .buttons {
    display: flex;
    width: 40%;
  }
}

.label {
  font-weight: 600;
}

.first-row {
  display: flex;
  color: #556ee6;
}

.second-row {
  display: flex;
  color: #34c38f;
}

@media screen and (max-width: 1150px) {
  .profit-and-report {
    flex-direction: column;
    .data,
    .buttons {
      width: 100%;
    }
  }
}

.add-form {
  display: flex;
  flex-direction: column;

  .single-row {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
  }
  // &  .flex-col {
  //   display: flex;
  //   flex-direction: column;
  //   // align-items: center;
  // }
}


tbody:not(.pad) td {
  vertical-align: middle;
  padding: 0;
}
