<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid" *ngIf="!isLoading">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Dashboard</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Welcome to Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-primary bg-soft limit-height"  id="dashboard">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>{{ authService.currentUser.name }}</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img
                src="assets/images/profile-img.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="row">
        <div class="col-md-4">
          <app-stat
            [title]="'Euro'"
            [value]="dashboardData.euroRate"
            [icon]="'bx bx-euro'"
          ></app-stat>
        </div>

        <div class="col-md-4">
          <app-stat
            [title]="'Dollar'"
            [value]="dashboardData.usdRate"
            [icon]="'bx bx-dollar'"
          ></app-stat>
        </div>

        <div class="col-md-4">
          <app-stat
            [title]="'Pound'"
            [value]="dashboardData.stgRate"
            [icon]="'bx bx-pound'"
          ></app-stat>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="table-header">
            <h4 class="card-title">Case Chip</h4>
            <div>
              <select class="form-select" [(ngModel)]="currencySelect">
                <option value="USD" *ngIf="dollarKasaChip.length > 0">
                  Dollar
                </option>
                <option value="EURO" *ngIf="euroKasaChip.length > 0">
                  Euro
                </option>
                <option value="TL" *ngIf="tlKasaChip.length > 0">TL</option>
                <option value="STG" *ngIf="poundKasaChip.length > 0">
                  Pound
                </option>
              </select>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead>
                <tr>
                  <th>Quantity</th>
                  <th>Value</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of chooseWhichTableToDisplay()
                      | slice
                        : (page - 1) * pageSize
                        : (page - 1) * pageSize + pageSize
                  "
                >
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.stringValue }}</td>
                  <td>{{ item.amount }}</td>
                </tr>
              </tbody>
            </table>
            <div class="col-sm-12 col-md-5" style="margin-left: auto">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination
                  [collectionSize]="chooseWhichTableToDisplay().length"
                  [(page)]="page"
                  [pageSize]="pageSize"
                >
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <div class="mr-3">
                  <p class="text-muted mb-2">Slot Customer</p>
                  <h5 class="mb-0">{{ dashboardData.slotCustomer }}</h5>
                </div>
                <div class="avatar-sm ms-auto">
                  <div
                    class="avatar-title bg-light rounded-circle text-primary font-size-20"
                  >
                    <i class="bx bxs-component"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card blog-stats-wid">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <div class="me-3">
                  <p class="text-muted mb-2">Live Customer</p>
                  <h5 class="mb-0">{{ dashboardData.liveCustomer }}</h5>
                </div>
                <div class="avatar-sm ms-auto">
                  <div
                    class="avatar-title bg-light rounded-circle text-primary font-size-20"
                  >
                    <i class="bx bx-broadcast"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card blog-stats-wid">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <div class="mr-3">
                  <p class="text-muted mb-2">VIP In</p>
                  <h5 class="mb-0">{{ dashboardData.vipIn }}</h5>
                </div>
                <div class="avatar-sm ms-auto">
                  <div
                    class="avatar-title bg-light rounded-circle text-primary font-size-20"
                  >
                    <i class="bx bxs-log-out"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card blog-stats-wid">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <div class="mr-3">
                  <p class="text-muted mb-2">VIP Out</p>
                  <h5 class="mb-0">{{ dashboardData.vipOut }}</h5>
                </div>
                <div class="avatar-sm ms-auto">
                  <div
                    class="avatar-title bg-light rounded-circle text-primary font-size-20"
                  >
                    <i class="bx bxs-log-in"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card blog-stats-wid">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <div class="mr-3">
                  <p class="text-muted mb-2">Chip Profit</p>
                  <h5 class="mb-0">
                    {{ dashboardData.chipProfit | number: "1.2-2" }}
                  </h5>
                </div>
                <div class="avatar-sm ms-auto">
                  <div
                    class="avatar-title bg-light rounded-circle text-primary font-size-20"
                  >
                    <i class="bx bx-money"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card blog-stats-wid">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <div class="mr-3">
                  <p class="text-muted mb-2">Chip Out</p>
                  <h5 class="mb-0">
                    {{ dashboardData.chipOut | number: "1.2-2" }}
                  </h5>
                </div>
                <div class="avatar-sm ms-auto">
                  <div
                    class="avatar-title bg-light rounded-circle text-primary font-size-20"
                  >
                    <i class="bx bx-card"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Slot (Total)</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-success bg-soft text-success font-size-18"
                  >
                    <i class="bx bx-lira"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">TL Profit</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.tlProfit | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-secondary bg-soft text-secondary font-size-18"
                  >
                    <i class="bx bx-euro"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Euro Profit</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.euProfit | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-danger bg-soft text-danger font-size-18"
                  >
                    <i class="bx bx-dollar"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Dollar Profit</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.usdProfit | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-warning bg-soft text-warning font-size-18"
                  >
                    <i class="bx bx-pound"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Pound Profit</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.stgProfit | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Slot (Pending)</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-success bg-soft text-success font-size-18"
                  >
                    <i class="bx bx-lira"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">TL Pending</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.tlOut | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-secondary bg-soft text-secondary font-size-18"
                  >
                    <i class="bx bx-euro"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Euro Pending</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.euOut | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-danger bg-soft text-danger font-size-18"
                  >
                    <i class="bx bx-dollar"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Dollar Pending</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.usdOut | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-warning bg-soft text-warning font-size-18"
                  >
                    <i class="bx bx-pound"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Pound Pending</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.stgOut | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Live Drop</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-success bg-soft text-success font-size-18"
                  >
                    <i class="bx bx-lira"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">TL Drop</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.tlDrop | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-secondary bg-soft text-secondary font-size-18"
                  >
                    <i class="bx bx-euro"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Euro Drop</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.euroDrop | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-danger bg-soft text-danger font-size-18"
                  >
                    <i class="bx bx-dollar"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Dollar Drop</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.usdDrop | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-warning bg-soft text-warning font-size-18"
                  >
                    <i class="bx bx-pound"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Pound Drop</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{ dashboardData.stgDrop | number: "1.2-2" }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
  </div>
</div>
<!-- container-fluid -->
